.App {
  text-align: center;
}
/****************************NAVBAR*****************************************/
.logo{
  height: 50px;
  width: 50px;
  align-items: left;
}
.navbar-brand{
  align-self: left;
}
nav a.nav-link{
  /* font-weight: bold; */
  text-transform: uppercase;
  margin-left: auto;
}
 /* nav ul li{
  font-weight: bold;
 } */
 .navbar-brand{
  max-width: 17.25rem; 
  padding: 0 !important;
 }